body{
	background: #E2E2E2;
	min-width: 900px;
}

header{
	overflow: hidden;
	min-width: 900px;
	width: 100%;
	background: #FFFFFF; 
	border-top: 40px solid;
	border-top-color: #0D3654;
}



hgroup{
	
	
	line-height: 0.5em;
	float: left;
	margin-left: 15%;
	padding-top: 10%;
	font-size: 20px;
	color: #2222BF;
}
div img
{
	padding: 0.5em;
	border-radius: 15px ;
	width: 23%;
	column-count: 4;
	-moz-column-count:4;
	-webkit-column-count: 4;
	float:left;


}
div 
{
	
	padding-left: 5%;
	padding-right: 5%; 
	margin:auto;
	clear:both;
	position: block;
	
}


#btsreddit{
	float:left;
	width: 50%;
	padding-left: 5%;
}

a{
	text-decoration: none;
	color:grey;
	font-size: 1em;
	padding-left: 1.5em;
}
footer{
	text-align: center;
	clear: both;



}